/* Main Page */
body {
            background-image: url("Images/background.jpg");
            background-repeat: no-repeat;
        }


/* Top Bar Stuff */
.Topbar {
    position: absolute;
    top: 0;
    left: 0;
    width:100%
}

.Top-Bar-Buttons{
    position: absolute;
    right:0px;
    padding:20px;
    display:flex;
    justify-content: space-around;
    gap:20px;
}

#NetflixLandscapeLogo {
    width: 110px;
    height: 70px;
    padding: 10px;
    position: absolute;
    z-index: 3;
}

#languageDropdown {
    width: 125px;
    height: 35px;
    background-color: #18191D;
    opacity: .9;
    text-align: center;
    color: white;
    border-radius: 8%;
    border-color: gray;
}

#signinButton {
    width: 70px;
    height: 35px;
    background-color: red;
    color: white;
    border-radius: 8%;
    border:none;
    font-size: 36;
}